@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
  font-style: normal;
     /* font-family: "Ancizar Sans", sans-serif; */
       /* font-family: "Share Tech", sans-serif; */
}

@keyframes line-expand {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

.animate-line-expand {
  animation: line-expand 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animation-delay-1000 {
  animation-delay: 1s;
}